<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="google-site-verification" content="XRS-DlqvCSDD76UDmBelZK-oG16XL20KyEUnDFdgCo4" />
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-WYTVNWXJG6"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'G-WYTVNWXJG6');

        gtag('event', 'page_view', {
            'origin': window.location.origin
        })
    </script>
    <script>function test() {
            window.alert("hi")
        }
    </script>
    <script type="module" src="src/script/todo.js"></script>
    <link rel="stylesheet" href="vendor/twbs/bootstrap/dist/css/bootstrap.min.css" />
    <title>To-Do</title>
</head>

<body data-bs-theme="light">
    <div class="container">
        <nav class="navbar bg-body-tertiary">
            <div class="container-fluid">
                <a style="text-decoration: none; color: unset;" href="/"><h1 class="ms-3">Gamelist</h1></a>
                
                <div class="btn-group" id="nav-buttons" role="group" aria-label="Basic example">
                    <!-- <button type="button" class="btn btn-primary" onclick="location.href='/'">Home</button> -->
                </div>
                <!-- <img src="img/pfp/1.png" style="width: 100px; height: 100px" /> -->
                <div class="d-flex">
                    <h1>Points:</h1>
                    <h1 class="text-center" id="pointCounter">0</h1>
                </div>
            </div>
        </nav>
        <div id="body-wrapper"></div>
    </div>
    <div class="toast-container position-fixed bottom-0 end-0 p-3" id="toast-container"></div>
    <script src="vendor/twbs/bootstrap/dist/js/bootstrap.min.js"></script>
</body>

</html>