<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <script type="module" src="src/script/todo.js"></script>
        <link rel="stylesheet" href="vendor/twbs/bootstrap/dist/css/bootstrap.min.css" />
        <title>To-Do</title>
    </head>
    <body data-bs-theme="light">
        <div class="container">
            <nav class="navbar bg-body-tertiary">
                <div class="container-fluid">
                    <h1 class="ms-3">Gamelist</h1>
                    <div class="d-flex">
                        <h1>Points:</h1>
                        <h1 class="text-center">69</h1>
                    </div>

                    <img src="img/pfp/1.png" style="width: 100px; height: 100px" />
                </div>
            </nav>
            <div class="row row-cols-1 justify-content-center mt-5">
                <div id="taskParent" class="col-md-6 border">
                    <div class="row border"><h1>To-Do</h1></div>
                    <!--<div class="row border justify-content-between">
                        
                        <div class="col"><h2>task</h2></div>
                        <div class="btn-group col-md-5 mt-1 mb-1">
                            <button type="button" class="btn btn-success">Done</button>
                            <button type="button" class="btn btn-danger">Delete</button>
                        </div>
                    </div>-->
                </div>
            </div>
        </div>

        <script src="vendor/twbs/bootstrap/dist/js/bootstrap.min.js"></script>
    </body>
</html>
