<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>To-Do</title>
    </head>
    <body>
        <h1>To-Do</h1>
        <script></script>
        <form action="api" method="post">
            <button type="submit">send</button>
        </form>

        <script>
            var array = {
                key1: "value1",
                key2: "value2",
                key3: "value3",
            };

            // Convert the associative array to a JSON string
            var data = JSON.stringify(array);
            /*console.log(array);
            console.log(data)*/
            fetch(window.location.protocol + "//" + window.location.hostname + "/gamelist/api", {
                method: "POST",
                body: data,
            })
                .then((response) => response.json())
                .then((data) => {
                    // Handle the response from the PHP script if needed
                    console.log(data);
                });
        </script>
    </body>
</html>
